@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: white;
  --secondary: #ffbd3e;
}

body {
  background-image: url('../src/assets/portfolio-background.jpg');
  font-family: 'Dosis', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: var(--primary);
  list-style: none;
}

.yellow {
  color: var(--secondary);
}

nav {
  background: linear-gradient(180deg, #010101 26.56%, rgba(33, 33, 33, 0) 99.48%);
}

li:hover {
  color: var(--secondary);
}

#footer {
  transition: all ease 0.4s;
}


#github:hover, #linkedin:hover {
  color: var(--secondary);
  transform: translateY(-2px);
}

#home {
  background: radial-gradient(42.86% 2834% at 25.64% 142.86%, #212121 69.79%, rgba(33, 33, 33, 0.1) 99.6%);
  border-radius: 2px;
}